table{
border:solid;
border-width:1px;
border-collapse:collapse;
text-align:right;
}

th{
border:solid;
border-width:1px;
color:black;
text-align:left;
}

td{
border:solid;
border-width:1px;
color:black;
}
